/src/__pycache__
/src/data/__pycache__
/src/models/__pycache__
/src/utils/__pycache__
/src/utils/__pycache__
/external/IGNN
/external/ECHO
/data
/checkpoints
/Doc/.aux/indent.log
/Doc/.aux/main.aux
/Doc/.aux/main.bbl
/Doc/.aux/main.blg
/Doc/.aux/main.fdb_latexmk
/Doc/.aux/main.fls
/Doc/.aux/main.log
/Doc/.aux/main.out
/Doc/.aux/main.synctex.gz
